@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Welcome</h1>
    <p>Store all of those questionable questions from class here!</a></p>
    <p>The TRON 2027 class sure has some great ones...</p>
    <hr />
    <figure>
        <img src="https://media.istockphoto.com/id/1388275792/photo/question-mark-uncertainty-unknown-fear-inquiry-investigation-examination-interrogation.jpg?b=1&s=170667a&w=0&k=20&c=9K9Dvo-Cv_9KBK2wrIySQ3YJ6v7ZNqhHrSvv_WhBi5g=" alt="Question Mark" sizes="110%">
        <figure><small><small>Source: shorturl.at/cmKSW</small></small></figure>
    </figure>
</div>
