@{
    ViewData["Title"] = "Privacy Policy";
}
<h1><center>@ViewData["Title"]</center></h1>

<p><center>This page is running on your local server. Security should not be an issue ;)</center></p>

<center>
    <img src="https://media.tenor.com/Lt7QCZ0e8O4AAAAC/its-no-problem-not-an-issue.gif" style="border-radius: 10%;" />
</center>
